<div class="container">
  <form *ngIf="!register" onsubmit="processForm(event)">
    <ion-list lines="full" class="ion-no-margin ion-no-padding">
      <div class="gap"></div>
      <ion-item>
        <ion-label position="stacked">用户名 <ion-text color="danger">*</ion-text>
        </ion-label>
        <ion-input required type="text" (input)="handleUsername($event)"></ion-input>
      </ion-item>
      <div class="gap"></div>

      <ion-item>
        <ion-label position="stacked">密码 <ion-text color="danger">*</ion-text>
        </ion-label>
        <ion-input required type="password" (input)="handlePassword($event)"></ion-input>
      </ion-item>

    </ion-list>
    <div class="gap"></div>

    <div class="full-width">
      <ion-button color="primary" expand="full" type="button" class="ion-no-margin" (click)="handleLogin()">登录
      </ion-button>
    </div>
    <div class="gap"></div>

    <div class="full-width">
      <ion-button expand="full" type="button" class="ion-no-margin" (click)="goToRegister()">注册</ion-button>
    </div>
    <div class="gap"></div>
  </form>

  <form *ngIf="register" onsubmit="processForm(event)">
    <ion-list lines="full" class="ion-no-margin ion-no-padding">
      <div class="gap"></div>
      <ion-item>
        <ion-label position="stacked">用户名 <ion-text color="danger">*</ion-text>
        </ion-label>
        <ion-input required type="text" (input)="handleUsername($event)"></ion-input>
      </ion-item>
      <div class="gap"></div>

      <ion-item>
        <ion-label position="stacked">密码 <ion-text color="danger">*</ion-text>
        </ion-label>
        <ion-input required type="password" (input)="handlePassword($event)"></ion-input>
      </ion-item>
      <div class="gap"></div>
      <ion-item>
        <ion-label position="stacked">邮箱 <ion-text color="danger">*</ion-text>
        </ion-label>
        <ion-input required type="text" (input)="handleEmail($event)"></ion-input>
      </ion-item>
      <div class="gap"></div>
      <ion-grid>
        <ion-row>
          <ion-col>
            <ion-item>
              <ion-label position="stacked">验证码 <ion-text color="danger">*</ion-text>
              </ion-label>
              <ion-input required type="text" (input)="handleCode($event)"></ion-input>
            </ion-item>
          </ion-col>
          <ion-col>
            <ion-button color="primary" expand="full" type="button" class="ion-no-margin code-btn" (click)="getVerifyCode()">
              获取验证码</ion-button>
          </ion-col>
        </ion-row>
      </ion-grid>

    </ion-list>
    <div class="gap"></div>

    <div class="full-width">
      <ion-button color="primary" expand="full" type="button" class="ion-no-margin" (click)="handleRegister()">注册
      </ion-button>
    </div>
    <div class="gap"></div>

    <div class="full-width">
      <ion-button expand="full" type="button" class="ion-no-margin" (click)="goToLogin()">返回登录</ion-button>
    </div>
    <div class="gap"></div>
  </form>
</div>