<div class="container">
  <app-submodule-login *ngIf="!login.token"></app-submodule-login>
  <div class="gap"></div>
  <div *ngIf="login.token" class="profile">
    <ion-item>
      <ion-thumbnail slot="start">
        <img [src]="'http://localhost:3000/' + login.user.avator">
      </ion-thumbnail>
      <ion-label>
        <h2>{{login.user.username}}</h2>
        <p>{{login.user.intro}}</p>
      </ion-label>
    </ion-item>
    <div class="gap"></div>
    <ion-item>
      <ion-label>新闻</ion-label>
      <ion-note slot="end">{{login.user.news}}</ion-note>
    </ion-item>
    <div class="gap"></div>
    <ion-item>
      <ion-label>喜欢</ion-label>
      <ion-note slot="end" color="primary">{{login.user.love}}</ion-note>
    </ion-item>
    <div class="gap"></div>
    <ion-item>
      <ion-label>关注</ion-label>
      <ion-note slot="end" color="secondary">{{login.user.followee}}</ion-note>
    </ion-item>
    <div class="gap"></div>
    <ion-item>
      <ion-label>粉丝</ion-label>
      <ion-note slot="end" color="tertiary">{{login.user.follower}}</ion-note>
    </ion-item>
    <div class="gap"></div>
  </div>
</div>