<div class="container">
    <div class="news" *ngIf="currentNews">
        <div class="title">{{currentNews.title}}</div>
        <div class="userInfo">
            <div class="author">{{currentNews.author}}</div>
            <div *ngIf="currentUser">
                <img [src]="currentUser.avator" alt="logo">
            </div>
            <div class="postDate">{{currentNews.postDate}}前</div>
        </div>
        <div *ngIf="currentNews.images" class="images">
            <div *ngFor="let item of currentNews.images">
                <video *ngIf="['mp4'].includes(item.split('.')[item.split('.').length-1])" [src]="item" class="content-video" controls
                    autoplay>
                    <source [src]="item" type="video/mp4" />
                    Your browser does not support the video tag.
                </video>
            </div>
        </div>
        <div *ngIf="currentNews.images" class="images">
            <div *ngFor="let item of currentNews.images">
                <img *ngIf="['jpg', 'png', 'JPG', 'PNG', 'jpeg', 'JPEG', 'gif', 'GIF'].includes(item.split('.')[item.split('.').length-1])"
                    [src]="item" class="content-img" alt="" />
            </div>
        </div>
        <ngx-md>{{currentNews.content}}</ngx-md>
    </div>
</div>