.container{
    height: 100%;
    width: 100%;
    display: block;
    background: #efefef;
    overflow: auto;

    .news{
        width: 100%;
        height: 150px;
        margin-top: 10px;
        font-size: 0.9rem;
        background: #fff;
        position: relative;

        .title{
            position: absolute;
            width: 60%;
            text-align: left;
            height: 75%;
            padding-top: 5%;
            padding-left: 5%;
            font-weight: bold;
            line-height: 24px;
            font-size: 1rem;
            overflow: hidden;
            text-overflow: ellipsis;
            -webkit-line-clamp: 4;
            display: -webkit-box;
            word-break: break-all;
            -webkit-box-orient: vertical;
        }

        .extend{
            width: 90%;
        }

        .author{
            position: absolute;
            bottom: 10%;
            left: 5%;
            font-size: 0.9rem;
        }

        .comment{
            position: absolute;
            left: 30%;
            bottom: 10%;
            font-size: 0.8rem;
            color: grey;
        }

        .postDate{
            position: absolute;
            left: 45%;
            bottom: 10%;
            font-size: 0.8rem;
            color: grey;
        }

        .previewImg{
            width: 30%;
            height: 80%;
            position: absolute;
            right: 5%;
            top: 10%;
            border-radius: 5px;
        }
    }
}